/* header top bar section */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    overflow-x: hidden;
    line-height: 1.3;
    color: #6e7a7a;
}


/* =================================== Navbar-Start ===================================== */
.nav-img img {
    width: 100%;
}

.navbar_edi {
    padding: 0;
}

.nav-img {
    background-color: #009688;
}

.button-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 15px;
}

/* .main_nav {
    background: #CDDC39;
}  */
.main_nav.bg-light {
    background-color: red;

}

.nav_img img {
    width: clamp(100px, 13.2vw, 200px);
    height: auto;
    /* filter: invert(1); */
}

.nav_img {
    width: clamp(133px, 15.4vw, 403px);
    position: relative;
    padding: 11px;
    /* background: #6c757d; */
}

.main_nav {
    background: #ffffff;
    position: relative;
}

a.nav-link {
    font-size: 16px;
    font-weight: 800;
}

div#navbarSupportedContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.nav-link {
    margin-right: clamp(4px, 3.2vw, 12px);
}

.nav_img::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 90%;
    background: #fff;
    left: 0px;
    bottom: -9px;
    z-index: 99;
}

.nav_img::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 14%;
    background: #00369b;
    bottom: -10px;
    z-index: 999;
    right: 46%;
}

.main-nav-add img {
    width: 100%;
    height: 100%;
}

.main-nav-add {
    width: clamp(23px, 2.3vw, 300px);
    margin-right: 30px;
    filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(420%) hue-rotate(167deg) brightness(89%) contrast(86%);
}

.main-nav ul {
    width: 70%;
    justify-content: end;
    padding-right: 20px;
}

/* =================================== Navbar-End ===================================== */
/* ================================= Section-1-start ================================== */

.sec-1 {
    background-image: url(../images/sec-1/linkedin-sales-solutions-1A8yP_5msac-unsplash.jpg);
    /* background-image: url(/Assets/images/sec-1/download.avif); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    position: relative;
    z-index: 9;
}

.sec-title {
    width: 50%;
    position: absolute;
    left: 20%;
    top: 170px;
    z-index: 9999;
}

.sec-title h4 {
    font-weight: 900;
    color: #fff;
    font-size: clamp(18px, 5.2vw, 63px);
    width: 100%;
}

.sec-title p {
    width: 100%;
    color: #fff;
    font-size: clamp(12px, 2vw, 16px);
    line-height: clamp(15px, 3vw, 30px);
}

.sec-1::after {
    content: "";
    position: absolute;
    background-color: #282525cc;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.main-wel span {
    /* background:white; */
    border-radius: 50px;
    /* padding: 5px 40px; */
    color: #00369b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    z-index: 0;
}

.main-wel {
    margin-bottom: 30px;
    position: relative;
    width: max-content;
    padding: 0 40px;
    background-color: #fff;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    z-index: 12;
}

.main-wel img {
    width: 17px;
}

.main-sec-im {
    background: #00369b;
    border-radius: 50px;
    padding: 8px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transition: 0.5s;
    z-index: 0;
    transform: translateY(-50%);
    left: 0;
}

.main-sec-im img:hover {
    left: 202px;
    color: red;

    transform: rotate x(90deg);
}

.main-wel:before {
    content: '';
    background-color: #00369b;
    width: 30px;
    height: 100%;
    position: absolute;
    left: 0;
    transition: 0.5s;
    z-index: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.main-wel:hover::before {
    width: 100%;
    color: #fff;

}

.main-wel:hover>div+span {
    color: #fff !important;
}

.main-sec-soc {
    position: absolute;
    bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    padding: 0px 50px;
    z-index: 9999;
}

.sec_1-icon img {
    width: 30px;
    height: 20px;
}

.sec_1-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec_1-icon p {
    margin: 0;
    color: #fff;
}

.img-media {
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0px 30px;
    position: relative;
}

.img-media img {
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(88%) saturate(4456%) hue-rotate(218deg) brightness(96%) contrast(100%);
}

.img-media::after {
    content: "";
    height: 2px;
    width: 20px;
    background: #00369b;
    position: absolute;
    right: -20px;
}

/* ================================= Section-1-End ==================================== */
/* =================================== Section-2-Start ======================================= */
.main-second-sec {
    margin-top: -33px;
    position: relative;
    top: -53px;
    z-index: 99;
}

.swiper-slide-next .main-second {
    border: 1px solid #00369b;
}

.main-second {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #d7cfcfd9;
    border-radius: 12px;
    z-index: 99999;
    overflow: hidden;
}

.second-card-1 img {
    width: 100%;
}

.second-title {
    padding: 10px 30px;
    line-height: 25px;
}

.second-2 {
    padding: 6px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.second-title h4 {
    font-size: clamp(16px, 7.2vw, 19px);
    font-weight: 900;
    color: darkslategrey;
}

.second_top-icon img {
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(10%) sepia(88%) saturate(4456%) hue-rotate(218deg) brightness(96%) contrast(100%);
}

.second_top-icon {
    background: #5d62622e;
    position: relative;
}

.second__top-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
}

.second_sec_top {
    background: white;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid #80808038;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: 85px;
}

.second__top-title h4 {
    font-size: 43px;
    font-weight: 800;
    padding-left: 28px;
    color: darkslategrey;
    transition: 0.5s;
}

.second_sec_right {
    width: clamp(95px, 6.4vw, 97px);
    padding: 19px;
    position: relative;
}

.growing_business {
    position: relative;
    z-index: 9;
    margin-top: -86px;
}

.swiper-pagination.swiper-cusrom {
    position: absolute;
    bottom: -9px;
}

.second_sec_right::after {
    content: '\f0d9';
    position: absolute;
    top: 0;
    left: 1px;
    transform: translate(10px, 10px);
    font-family: 'FontAwesome';
    font-size: 60px;
    color: #00369b;
    transform: translate(-23px, 0px);
}

.fac-icon {
    margin-left: -38px;
}

.swiper-slide-next .second_top-icon img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(7476%) hue-rotate(192deg) brightness(108%) contrast(104%);
}

.swiper-slide-next .second_sec_right {
    background-color: #00369b;
}

.sercfadhf {
    margin-top: 50px;
}

.second_sec_right i {
    font-size: 47px;
    color: #00369b;
    transition: 0.5s;
}

.swiper-slide-next .second_sec_right i {
    color: #fff;
    transition: 0.5s;
}

.swiper-slide-next .second__top-title {
    background: black;
    transition: 0.5s;
}

.swiper-slide-next .second__top-title h4 {
    color: #fff;
    transition: 0.5s;
}

/* =================================== Section-2-End ========================================= */
/* =================================== Section-3-Start =========================================  */
.section-3-area img {
    width: 100%;
}

.section_3 {
    padding-top: 60px;
}

.section-3-title {
    padding: 16px;
    line-height: 30px;
    position: relative;
}

.section-3-title>p {
    font-size: 14px;
    font-weight: 700;
    color: #00369b;
    margin-left: 17px;
}

.section-3-title>p::before {
    content: "\f324";
    position: absolute;
    font-family: 'FontAwesome';
    margin-left: -17px;
    color: #00369b;
    text-align: center;
}
.sec-3rd-icons:hover {
    background: #03359c;
    transition: 0.5s;
    color:#fff;
}



.sec-3rd-icons:hover .i {
    border-color: #fff;   
}
.section-3-title h4 {
    font-size: 32px;
    font-weight: 800;
    color: darkslategray;
}

.section-3-title span {
    padding: 20px 0;
}

.sec_3rd {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
}

.third_title h5 {
    font-size: clamp(16px, 3.2vw, 20px);
    font-weight: 800;
    color: darkslategray;
}

.third_title p {
    font-size: clamp(12px, 3.2vw, 16px);
}

.hime_sec {
    width: clamp(89px, 3.4vw, 103px);
}

.sec-3rd-icons img {
    width: 100%;
}

.sec-3rd-icons {
    transition: 0.5s;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
}
.sec-3rd-icons::after {
    position: absolute;
    content: "";
    height: 90px;
    width: 40px;
    background: #40403e24;
    right: -9px;
    z-index: -1;
    transition: 0.5s;
}
.sec-3rd-icons i {
    font-size: 30px;
    color: #03359c;
    z-index: 99999;
    transition: 0.5s;
    height: 55px;
    width: 55px;
    border: 1px solid #03359c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec_3-main-area {
    display: flex;
    align-items: center;
}

.sec-main-aarea-img img {
    width: 100%;
}

.sec-main-aarea-img {
    width: clamp(160px, 140.3vw, 365px);
}

.section-3-btn {
    padding: 20px 0px;
}


.paly_butn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ply-img {
    height: 50px;
    width: 50px;
    background: #03359c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.ply-img::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    background-color: #03359c;
    animation: borderanimate2 2s linear infinite;
    z-index: -1;
    border-radius: 50%;
}

.ply-img::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: scale(1.5);
    border: 1px solid #03359c;
    animation: borderanimate2 2s linear infinite;
    border-radius: 50%;
}

@keyframes borderanimate2 {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

/* i.fa-solid.fa-play {
    font-size: 1.4rem;
    padding: 0px;
    font-size: 1.4rem;
} */

.sec-3-fist-1 img {
    width: 100%;
    object-fit: contain;
}

.sec-3-fist-1 {
    clip-path: polygon(21% 12%, 100% 0, 100% 70%, 70% 100%, 29% 86%);
}

.sec__three-fist {
    position: relative;
}

.sec_3-main-sec-2 img {
    width: 100%;
    height: 100%;
    border-radius: 90px;
    border: 7px solid #fff;
    object-fit: cover;
}

.sec_3-main-sec-2 {
    height: 110px;
    width: 110px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(10px, -49px);
}

.sec_3-main-sec-23 img {
    width: 100%;
    height: 100%;
    border-radius: 90px;
    border: 7px solid #fff;
    object-fit: cover;
}

.sec_3-main-sec-23 {
    height: 110px;
    width: 110px;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-184px, -55px);
}

.sec__three-fist::before {
    content: "";
    height: 70%;
    width: 70%;
    border: 11px solid #03359c;
    position: absolute;
    transform: rotate(-8deg);
    right: 62px;
    top: 4px;
}

.sec-3rd-icons:hover i {
    color: #fff;
    transition: 0.5s;
}
.sec-3rd-icons:hover::after {
   background-color: #000;
   transition: 0.5s;
}

/* =================================== Section-3-End ===========================================  */
/* =================================== Section-4-Start ========================================= */
.bg-section-4 {
    background: #7e7e8703;
    padding: 6rem 0;
}

.section-4-area {
    padding: 50px 0;
    background: #fff;
    padding-bottom: 0;
}

.mai-sec-4 {
    padding: 30px;
    background: #fff;
    border: 1px solid #80808096;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.section_4-card-1 {
    margin: 31px 0;
    position: relative;
    transition: all 0.5s;
}

.main_section_4-head {
    text-align: center;
    padding: 50px;
    padding-top: 0;
    position: relative;
}

.main_section_4-head p {
    font-size: 14px;
    font-weight: 700;
    color: #00369b;
}


.main_section_4-head p::before {
    content: "\f324";
    position: absolute;
    font-family: 'FontAwesome';
    margin-left: -17px;
    color: #00369b;
    text-align: center;
}

.main_section_4-head p::after {
    content: "\f323";
    position: absolute;
    font-family: 'FontAwesome';
    color: #00369b;
    text-align: center;
    transform: translate(21%, 0%);
}

.main_section_4-head h4 {
    font-size: 40px;
    font-weight: 900;
    color: darkslategray;
}

.main-card_section-4 {
    line-height: 26px;
    position: relative;
    z-index: 4;
}

.main-card_section-4 h4 {
    font-size: clamp(20px, 4.2vw, 30px);
    font-weight: 900;
    color: darkslategray;
}

.main-card_section-4 p {
    font-size: clamp(12px, 4.2vw, 16px);
}

.check_sec_4 {
    padding: 4px 0;
    position: relative;
    z-index: 4;
}
.check_sec_4 ul>li {
    list-style: none;
    margin-bottom: 5px;
    font-size: clamp(10px,3.2vw,16px);
    transition: all 0.5s;
}

.check_sec_4 ul>li::before {
    content: "\f14a";
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 0px;
    color: #00369b;
}

.sec_4_bottom-icon i {
    color: #00369b;
    font-size: 42px;
    transition: all 0.5s;
}

.sec_4_bottom-icon {
    background: white;
    height: 70px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-64px, -90px);
    left: 0px;
    bottom: -95px;
    border-radius: 12px;
    z-index: 3;
    transition: all 0.5s;
}

.seco_4 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.card_sec0-4-1 {
    position: absolute;
    right: 60px;
}

.card-seco-4 {
    position: relative;
    width: 71%;
    height: 37px;
    border: 1px solid #80808066;
}

.card-seco-4::after {
    content: "";
    height: 18px;
    width: 90px;
    position: absolute;
    background: black;
    bottom: -9px;
    z-index: 2;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    left: -64px;
}

.check_sec_4 ul>li:hover {
    color: #00369b;
    text-decoration: underline;
    transition: all 0.5s;
}

.main-section-four:hover {
    background-image: url(../images/sec-4/dsa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.mai-sec-4::after {
    position: absolute;
    content: "";
    inset: -100% 0 0 100%;
    background: #020202ab;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-four-card:hover ::after {
    visibility: visible;
    opacity: 1;
}

.mai-sec-4:hover::after {
    opacity: 1;
    visibility: visible;
    inset: 0;
}

.main-section-four:hover .main-card_section-4 h4 {
    color: #ffff;
}


.card_sec0-4-1 a {
    text-decoration: none;
    color: #6e7a7a;
    transition: 0.5s;
}

.card_sec0-4-1 a:hover {
    color: red;
    transition: 0.5s;
}

.section_4-card-1:hover .sec_4_bottom-icon i {
    color: #fff;
    transition: all 0.5s;
}

.section_4-card-1:hover .sec_4_bottom-icon {
    background: rgb(0 0 0);
    transition: all 0.5s;
}

.section_4-card-1:hover .card-seco-4::after {
    background-color: #00369b;
    transition: all 0.5s;
}

.section_4-card-1:hover .card_sec0-4-1 a {
    color: #00369b;
    transition: all 0.5s;
}

.section_4-card-1::before {
    height: 30px;
    width: 30px;
    color: #00369b;
    position: absolute;
    border-right: 1px solid #00369b;
    content: "";
    left: 0px;
    z-index: 999;
    top: 0px;
    border-bottom: 1px solid #00369b;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

.section_4-card-1:hover::before {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
}

/* =================================== Section-4-End =========================================== */
/* =================================== Section-5-Start =========================================== */

.bg_5 {
    background-image: url(../images/sec-5/bac.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main-sec_5 {
    padding: 0px 40px;
}

.sec_five-heading h4>span {

    color: red;
}

.sec_five-heading h4 {
    font-weight: 900;
    color: #fff;
    text-align: center;
}


.section-5-area > div {
    flex: 0 0 51%;
}

.sec_5-img {
    height: 150px;
    width: 150px;
}

.sec_5-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-5-btn {
    display: flex;
    justify-content: center;
}
.section-5-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.sec_5-img {
    position: relative;
}

.sec_5-img::after {
    content: "";
    height: 9%;
    width: 100%;
    position: absolute;
    background: #00369b;
    bottom: -9px;
    left: 0;
    z-index: 99999;
}

.bg_5::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 10%;
    background: white;
    clip-path: polygon(0 0, 49% 49%, 100% 100%, 0 100%);
    top: 1px;
    /* border: none; */
    /* border: 1px solid #ff000000; */
    left: -1px;
}

.bg_5::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 10%;
    background: #ffffff;
    top: 1px;
    right: -1px;
    clip-path: polygon(100% 100%, 0 100%, 46% 53%, 100% 0);
}

.form-check span {
    position: relative;
    font-size: clamp(12px, 4.2vw, 16px);
}



.form-check span:hover {
    color: #00369b;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    border-bottom: 1px solid #00369b;
}

/* =================================== Section-5-End =========================================== */
/* =================================== Section-6-Start ========================================= */
.section_area-6 {
    padding: 50px 0px;
}

.sec__six-title {
    line-height: 30px;
    position: relative;
}

.sec__six-title p {
    font-size: 14px;
    font-weight: 700;
    color: #00369b;
    margin-left: 17px;
}

.sec__six-title p::before {
    content: "\f324";
    position: absolute;
    font-family: 'FontAwesome';
    margin-left: -17px;
    color: #00369b;
    text-align: center;
}


.sec__six-title>span {
    /* padding: 20px 0px; */
    display: inline-block;
    font-size: clamp(10px, 3.2vw, 16px);
}

.sec__six-title h4 {
    font-weight: 900;
    color: darkslategray;
    font-size: clamp(24px, 3.2vw, 40px);
    text-transform: capitalize;
}

.sec_6-check input label,
.form-check-input:checked {
    background-color: #00369b;
    border-color: #00369b;
}


.sec_6-check label {
    padding: 1px 8px;
    font-size: clamp(12px, 3.2vw, 16px);
}

.sec_6-check {
    padding: 6px 0;
    display: flex;
}

.sec_six-prograss {
    width: 50%;
}

.sec_six-prograss,
.progress {
    border: 1px solid #00369b;
    border-radius: 30px;
    background-color: #fff;
    height: 8px;
    border-bottom: 2px solid #00369b;
    width: 100%;
}

.sec_six-prograss,
.progress-bar {
    background-color: #00369b;
}

.sec_six-per {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sec_six-per p {
    margin: 9px 0;
    font-size: 15px;
    font-weight: 600;
    color: darkslategray;
}

.prograss_bar-control-main {
    padding-top: 16px;
    /* margin-top: 8px; */
}

.sec__six-area {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.sec-six-second-cont h4 {
    /* font-size: 26px; */
    font-weight: 900;
    color: darkslategray;
    padding: 10px 0px;
    margin: 0;
    font-size: clamp(20px, 4.2vw, 22px);
}

.sec-six-second-cont img {
    width: 100%;
}

.sec-six-second-main {
    background: #d9d8d87a;
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin-left: 20px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    margin-top: -31px;
}

.sec-six-second-cont p {
    margin: 12px 8px;
    /* padding-bottom: 12px; */
}

.main_sec_six__area-6 {
    padding-top: 20px;
}

.sec-six-second-main::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 316px;
    background: #d9d8d87a;
    left: -316px;
    top: 102px;
}

.play_sec-6 {
    /* height: 50px; */
    /* width: 50px; */
    /* background: #000; */
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: 0 14px; */
}

.play_sec-6 i {
    color: #fff;
    font-size: 20px;
}

.sec-six-6-sec img {
    width: 100%;
}

.prograss_bar-control-main-1 {
    margin-top: 61px;
}

.sec_6-buttona {
    margin-top: 24px;
}

.sec-six-second-cont {
    width: clamp(54px, 5vw, 157px);
}

.play_sec-6 i {
    height: 50px;
    width: 50px;
    background: #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =================================== Section-6-End =========================================== */
/* =================================== Section-7-Start =========================================== */
.sec-seven-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(45deg, #000000c9, #000000c9), url(../images/sec-7/bg-7.jpg);
}

.sec-seven-main-title {
    text-align: center;
    padding-top: 60px;
}
.heading-seven {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading-seven p {
    font-size: 14px;
    font-weight: 700;
    color: #00369b;
    margin: 0;
    position: relative;
    background: #00000087;
    width: 155px;
}

.heading-seven p::before {
    content: "\f324";
    position: absolute;
    font-family: 'FontAwesome';
    margin-left: -17px;
    color: #00369b;
    text-align: center;
}

.heading-seven p::after {
    content: "\f323";
    position: absolute;
    font-family: 'FontAwesome';
    color: #00369b;
    text-align: center;
    transform: translate(21%, 0%);
}



.heading-seven h4 {
    font-size: clamp(20px, 4.2vw, 34px);
    font-weight: 900;
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

.heading-seven>span {
    color: #c1c1c1;
    font-size: clamp(12px, 4.2vw, 16px);
}

.sec-seven-last-box {
    clip-path: polygon(8% 0, 92% 0, 100% 61%, 60% 61%, 50% 80%, 40% 61%, 0 61%);
    background: red;
    padding: 100px;
}


/* =================================== Section-7-End =========================================== */
/* =================================== Section-8-Start ========================================= */

button#pills-home-tab {
    clip-path: polygon(8% 0, 92% 0, 100% 60%, 60% 61%, 49% 79%, 38% 61%, 0 62%);
    height: 110px;
    width: 180px;
}

li.nav-item-1 button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #000;
    font-size: 18px;
    font-weight: 800;
}

button#pills-profile-tab {
    clip-path: polygon(8% 0, 92% 0, 100% 60%, 60% 61%, 49% 79%, 38% 61%, 0 62%);
    height: 110px;
    width: 180px;
}

button#pills-contact-tab {
    clip-path: polygon(8% 0, 92% 0, 100% 60%, 60% 61%, 49% 79%, 38% 61%, 0 62%);
    height: 110px;
    width: 180px;
}

button#pills-room-tab {
    clip-path: polygon(8% 0, 92% 0, 100% 60%, 60% 61%, 49% 79%, 38% 61%, 0 62%);
    height: 110px;
    width: 180px;
}

.main_sec_8 {
    margin-top: -49px;
    position: relative;
}

.main_sec_8::after {
    /* content: ""; */
    height: 30px;
    width: 30px;
    position: absolute;
    background: red;
    top: 0;
    border-radius: 50px;
    transform: translate(53px, -14px);
}

.nav-item-1 {
    position: relative;
    margin-top: 20px;
}

.nav-item-1::after {
    content: "\f64a";
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: #00369b;
    position: absolute;
    top: 22px;
    right: 17px;
    font-family: 'FontAwesome';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    transform: translate(-50px, -50px);
}

.nav-item-1 .nav-link {
    background: #fff;

}

.nav-item-1 .nav-link.active {
    background: #00369b;
}

.main_sec_8 .mb-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_eight-area {
    background: #d7d2d259;
    /* padding-bottom: 100px; */
}

.sec_8-tab_1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_8-tab_1-img {
    overflow: hidden;
    border-radius: 62% 38% 110% 0% / 58% 75% 44% 47%;
}

.sec_8-main-title h4 {
    color: #00369b;
    font-weight: 800;
    font-size: clamp(12px, 7.2vw, 27px);
}

.sec_8-main-title p {
    font-size: clamp(12px, 3.2vw, 18px);
    line-height: 30px;
}

.sec_8-text p {
    margin: 0;
    font-size: clamp(12px, 3.2vw, 16px);
    /* line-height: 30px; */
}

.sec_8-text h4 {
    font-weight: 800;
    font-size: clamp(12px, 4.2vw, 24px);
    color: darkslategray;
}

.main__sec_eight-cont {
    margin: 10px;
}

.main-sec__eight-8 {
    display: flex;
    align-items: center;
    background: #fff;
    width: 100%;
    border: 1px solid #fff;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    padding: 16px;
    margin-bottom: 30px;
    transition: all 0.7s;
    position: relative;
    overflow: hidden;
}

.sec_8-icon i {
    font-size: 30px;
    color: #00369b;
    height: 60px;
    width: 60px;
    border: 1px solid blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec_8-icon {
    /* height: 70px; */
    /* width: 70px; */
    /* border: 1px solid #00369b; */
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}

.main-sec__eight-8:hover {
    background-color: black;
    border-radius: 0;
    transition: all 0.7s;
}

.main-sec__eight-8:hover .sec_8-text h4 {
    color: #fff;
}

.main-sec__eight-8:hover .sec_8-icon {
    background-color: #00369b;
    border: 2px solid #fff;
}

.main-sec__eight-8:hover .sec_8-icon i {
    color: #fff;
}

.sec_sec-8 img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec_sec-8 {
    width: clamp(224px, 23.4vw, 365px);
    /* text-align: center; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.main-sec__eight-8::after {
    content: "";
    height: 10px;
    width: 70px;
    background: #00369b;
    transform: rotate(45deg);
    right: -17px;
    position: absolute;
    top: 14px;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.main-sec__eight-8:hover .main-sec__eight-8::after {
    visibility: visible;
    opacity: 1;
    transition: 0.5s all;
}

.main-sec__eight-8:hover:after {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.main-sec__eight-8::before {
    content: "";
    height: 10px;
    width: 70px;
    background: #fff;
    transform: rotate(45deg);
    right: -18px;
    position: absolute;
    top: 54px;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.main-sec__eight-8:hover:before {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* =================================== Section-8-End =========================================== */
/* =================================== Section-9-Start =========================================== */
.sec_nine_area {
    background: #fff;
    padding-bottom: 70px;
}

.sec-nine-main-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}


.sec-nine-main-title p::before {
    content: "\f324";
    position: absolute;
    font-family: 'FontAwesome';
    margin-left: -17px;
    color: #00369b;
    text-align: center;
}

.sec-nine-main-title p::after {
    content: "\f323";
    position: absolute;
    font-family: 'FontAwesome';
    color: #00369b;
    text-align: center;
    transform: translate(21%, 0%);
}




.sec-nine-main-title h4 {
    font-size: 34px;
    font-weight: 900;
    color: darkslategrey;
    margin: 0;
    padding: 20px 0;
}

.sec-nine-main-title p {
    font-size: 14px;
    font-weight: 800;
    color: #00369b;
    margin: 0;
}

.sec-nine_cards img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 7px;
    position: relative;
    z-index: 1;
}

.sec-nine_cards {
    border: 10px solid gray;
    border-radius: 18px;
    position: relative;
}

.sec-nine_cards::after {
    content: "";
    height: 50%;
    width: 50%;
    background: #00369b;
    position: absolute;
    right: -10px;
    top: -10px;
    border-top-right-radius: 18px;
}

.sec-nine_cards::before {
    content: "";
    position: absolute;
    border: 10px solid #00369b;
    height: 50%;
    width: 50%;
    left: -10px;
    bottom: -10px;
    border-bottom-left-radius: 18px;
}

.swiper-slide-next .sec-nine_cards {
    border: 10px solid black;
    transition: 0.5s;
}

.swiper-slide-next .sec-nine_cards img {
    filter: grayscale();
}

.sec_img_nine-icons {
    position: absolute;
    z-index: 99;
    height: 70px;
    left: -38px;
    width: 170px;
    bottom: 65px;
    background: #ffff;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    transition: 0.5s;

}

.swiper-slide-next .sec_img_nine-icons {
    width: 100%;
    transform: translateY(0%) rotate(0);
    left: 0;
    bottom: 0;
    border-radius: 0;
    transition-timing-function: cubic-bezier(0.5, 2.7, 0.5, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.forword_share i {
    transition: 0.5s;
    transform: rotate(0deg);
}

.sec_img_nine-icons p {
    margin: 0;
}

.sec_img_nine-icons p>b {
    color: darkslategray;
    font-size: 19px;
    font-weight: 900;
}

.forword_share {
    height: 40px;
    font-size: 22px;
    color: #fff;
    width: 40px;
    background: #000;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    z-index: 5;
    right: 20px;
}

.copy__icon {
    position: absolute;
    top: 0;
    right: 18px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.copy_icon-end i {
    height: 40px;
    width: 40px;
    background: #fff;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.swiper-slide-next .forword_share {
    color: #00369b;
    background: #fff;
}

.swiper-slide-next .copy__icon {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    top: 80px;
}

.swiper-slide-next .forword_share i {
    transform: rotate(267deg);
    transition: 0.7s;
}




.hover_me:hover> :not(:hover) {
    filter: grayscale(1);
}

.hover_me:hover img {
    filter: blur(0px);
}

.hover_me:hover> :not(:hover) img {
    filter: blur(2px);
}

.swiper-slide-next .copy__icon .copy_icon-end i {
    visibility: visible;
    opacity: 1;
    position: relative;
}

.sec-nine_cards .copy__icon .copy_icon-end i {
    transition: 0.3s;
    /* opacity: 0; */
    /* visibility: visible; */
    left: -12px;
    transition-timing-function: cubic-bezier(0.5, 2.7, 0.5, 0.5);
}

.swiper-slide-next .copy__icon .copy_icon-end i:nth-child(1) {
    transition-delay: 0.15s;
    left: 0px;
}

.swiper-slide-next .copy__icon .copy_icon-end i:nth-child(2) {
    transition-delay: 0.20s;
    left: 0px;
}

.swiper-slide-next .copy__icon .copy_icon-end i:nth-child(3) {
    transition-delay: 0.25s;
    left: 0px;
}

.swiper-slide-next .copy__icon .copy_icon-end i:nth-child(4) {
    transition-delay: 0.30s;
    left: 0px;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 50px;
    border-radius: 10px;
    background-color: #00369b;
}

.iner_secmdf-pag {
    margin-top: 60px;
}

.swiper-slide-next .copy_icon-end i {
    background: #fff;
    transition: 0.7s;
}

.copy_icon-end i {
    transition: 0.7s;
}

.copy_icon-end i:hover {
    background: #00369b;
    color: #fff;
    transition: 0.5s;
}

.copy_icon-end i {
    transition: 0.5s;
}

/* =================================== Section-9-End ============================================= */
/* =================================== Section-10-Start ============================================= */




.brand_area {
    padding-top: 60px;
    padding-bottom: 70px;
}

.shape_brand {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo_shap-1 {
    filter: grayscale(100%);
    opacity: 0.5;
    padding: 5px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.brand_area-main {
    background-color: #fff;
}

.logo_shap-1:hover {
    opacity: 1;
    transition: 0.3s;
    border-color: #00369b;
    filter: brightness(0) saturate(100%) invert(10%) sepia(88%) saturate(4456%) hue-rotate(218deg) brightness(96%) contrast(100%);
}






/* =================================== Section-10-End ============================================= */
/* =================================== Section-11-Start =========================================== */

.sec-11-area {
    position: relative;

    padding-bottom: 764px;
}

.sec-11-main-area {
    clip-path: circle(49.3% at 50% 35%);
    background: red;
    position: absolute;
    top: 0;
    height: 90%;
    width: 90%;
    z-index: 0;
    left: 86px;
    padding: 70px 200px;
}

.sec_11-bg {
    z-index: -1;
}

.sec_11-bg img {
    width: 100%;
}

/* =================================== Section-11-End ============================================= */
/* =================================== Section-12-Start ============================================= */
.sec-12-center {
    position: relative;
}

.sec-12-img img {
    width: 100%;
}

.sec-12-secnd img {
    width: 100%;
}

.sec-12-center img {
    width: 100%;
    border-radius: 23px;
}

.sec_main-12 {
    position: relative;
}

.sec_12-fist {
    position: absolute;
    transform: rotate(21deg);
    left: 112px;
    top: 30px;
}

.sec_12-fist h4 {
    font-size: 50px;
}
.main-title-sec-12 {
    position: relative;
}
.sec_12-last {
    position: absolute;
    right: 150px;
    top: 30px;
    transform: rotate(-18deg);
}

.sec_12-last h4 {
    font-size: 50px;
}

.center_12-sec {
    position: absolute;
    z-index: 9999;
    left: 50%;
    color: #fff;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.center_12-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 50px;
    width: 80%;
    padding: 20px;
    display: none;
}

.center_title_main h4 {
    font-size: 20px;
    color: black;
    margin: 0;
    font-weight: 700;
}

.center_title_main p {
    font-size: 14px;
    color: #00369b;
    margin: 0;
    font-weight: 700;
}

.center-icons {
    background: #00369b;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-icons i {
    font-size: 13px;
}

.sec-12-center::before {
    content: "";
    height: 40%;
    width: 16%;
    position: absolute;
    background: #385ed48c;
    top: -100px;
    left: 20%;
    transform: rotate(337deg);
    border-radius: 50px;
    opacity: 0;
}

.sec-12-center::after {
    content: "\2b";
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50px;
    left: 30.5%;
    position: absolute;
    top: 107px;
    color: #e11616c2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
}
.swiper-slide-fully-visible:first-child {}
.swiper-slide-next.swiper-slide-visible {}
.swiper-slide-next.swiper-slide-visible .center_12-sec {
    display: inline-flex;
}
.coverFloweffect .swiper-wrapper > div {
    overflow: hidden;
    border-radius: 20px;
}
.swiper-slide-next.swiper-slide-visible > .sec-12-center::before, .swiper-slide-next.swiper-slide-visible > .sec-12-center::after {
    opacity: 1;
}
/* =================================== Section-12-End ============================================= */
/* =================================== Section-13-Start ============================================= */
.sec-main-13-areaa {
    border: 1px solid #80808059;
    transition: 0.5s;
    margin-bottom: 50px;
}

.sec_13-area {
    padding: 90px 0;
}

.section-13-img img {
    width: 100%;
}

.sec-titlw_sec-13 span {
    padding: 10px 24px;
    background: #d3d3d34d;
    display: inline-block;
    color: black;
    font-size: clamp(8px, 3.2vw, 13px);
    width: 100px;
    font-weight: 900;
    transition: 0.5s;
}

.sec-titlw_sec-13 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-titlw_sec-13 p {
    margin: 0;
    padding-right: 20px;
}

.sec-titlw_sec-13 span::after {
    content: "\f0da";
    font-family: 'FontAwesome';
    color: #00369b;
    position: absolute;
    font-size: 30px;
    left: 95px;
    top: -2px;
}

.sec_thirteen {
    padding: 20px;
    line-height: 30px;
}

.sec_thirteen h4 {
    font-size: clamp(18px, 4.5vw, 30px);
    font-weight: 900;
    color: darkslategrey;
}

.stars-sec-13 {
    border-top: 1px solid #80808078;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.stars-sec-13 span {
    display: flex;
    margin: 0;
    text-align: center;
}

.stars-sec-13 span i {
    display: flex;
    align-items: center;
    padding-right: 4px;
}

.stars-sec-13 span p {
    text-align: center;
    margin: 0;
}

.stars-sec-13 a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.stars-sec-13 span i:nth-child(1) {
    color: #e9db18;
}

.stars-sec-13 span i:nth-child(2) {
    color: #e9db18;
}

.stars-sec-13 span i:nth-child(3) {
    color: #e9db18;
}

.section-13-img {
    position: relative;
    object-fit: cover;
}

.sec_13_icon-img img {
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    transition: 0.5s;
}

.sec_13_icon-img::before {
    content: "";
    height: 50%;
    width: 13px;
    position: absolute;
    background: #00369b;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: 0.5s;
}

.sec_13_icon-img {
    background: #242020bb;
    position: absolute;
    top: 0;
    inset: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.swiper-slide-next .sec_13_icon-img {
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
    inset: 0;
}

.swiper-slide-next .sec_13_icon-img::before {
    top: 25%;
    transition: 0.5s;
}

.swiper-slide-next .sec_13_icon-img img {
    top: 50%;
}

.swiper-slide-next .sec-titlw_sec-13 span {
    background-color: #00369b;
    color: #fff;
    transition: 0.5s;
}

.swiper-slide-next .stars-sec-13 a {
    color: #00369b;
    transition: 0.5s;
}

.section-3-area {
    position: relative;
}

.play_buttons {
    position: absolute;
    left: 26%;
    transform: translate(-50%, -50%);
    bottom: 11%;
}

/* =================================== Section-113-End ============================================= */



/* =================================== Footer-Start ============================================ */
.footer_img {
    background: gray;
    position: relative;
}

.footer_img img {
    width: 100%;
}
.footer-first {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_icons {
    width: clamp(100px,22vw,248px);
}

.footer_icons img {
    height: 100%;
    width: 100%;
}


.footer_2nd {
    padding: 0 0px 20px 0;
}

.sec_footer-he h4 {
    color: #fff;
    font-size: clamp(14px, 3.4vw, 28px);
    font-weight: 600;
}

.sec_footer-he span {
    color: #fff;
    letter-spacing: 1px;
}

.sec_footer_serch {
    position: relative;
    border: 1px solid #80808045;
}

.serc_sec-footer {
    position: absolute;
    top: 25px;
    transform: translate(-50%, -50%);
    background: #00369b;
    padding: 14px;
    left: 274px;
}

.sec_footer_serch input {
    width: 224px;
    height: 50px;
    padding: 10px;
    margin-right: 100px;
}

.serc_sec-footer a {
    text-decoration: none;
    color: #fff;
}

.section_footer-con {
    /* background: #000000ed; */
    padding: 20px 0;
    border-top: 1px solid #80808091;
    border-bottom: 1px solid #80808091;
}

.section_footer_main-an ul {
    align-items: center;
    flex-direction: column;
}

.section_footer_main-an ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section_footer_main-an ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    transition: 0.5s;
}

.section_footer_main-an h4 {
    padding: 0;
    color: #fff;
    font-size: clamp(12px, 3.2vw, 27px);
    font-weight: 700;
}

.section_footer_main-an i {
    color: #00369b;
    margin-right: 14px;
    margin-top: 9px;
}

.sec-4-footer-areae img {
    filter: contrast(0.5);
    width: 100%;
}

.sec-4-footer-areae {
    margin-top: 20px;
    width: clamp(144px, 13vw, 300px);
}

.icon_footers-end {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 5.7px 0;
}

.icon_footers-end i {
    background: #261f1f;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    color: #fff;
    transition: 0.5s;
}

li.breafkdf {
    display: flex;
    padding: 4px 0;
}

.icon_footers-end i:hover {
    background: #00369b;
    transition: 0.5s;
}

.bottom_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px;
}

.bootom-sec-2 ul {
    list-style: none;
}

.bootom-sec-2 ul li a {
    text-decoration: none;
    color: #6e7a7a;
    /* padding: 11px; */
    transition: 0.5s;
    margin-right: 30px;
}

.bootom-sec-2 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

.bootom-sec-2 ul li a:hover {
    color: #00369b;
    transition: 0.5s;
}

.bootom-sec-1 span>b {
    color: #00369b;
}

.section_footer_main-an ul li a:hover {
    color: #00369b;
    transition: 0.5s;
    text-decoration: underline;
}

.footer-main-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-area {
    padding: 20px;
    background: #000;
    padding-bottom: 0;
}

.footer-first .foterIcon {
    margin-bottom: auto;
    margin-top: auto;
}
p.pragraph_botm {
    padding: 30px 15px;
}

.foterIcon>h4 {
    font-size: clamp(20px,3.2vw,26px);
    font-weight: 700;
    color: #fff;
}
/* =================================== Footer-End ============================================== */


.my-button {
    transition: 0.7s;
    width: clamp(38px, 48.2vw, 120px);
    height: 43px;
    font-size: clamp(11px, 4vw, 15px);
    background-color: #03359c;
    color: #fff;
    border: 1px solid #e50c011f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

button.my-button:hover {
    scale: 1.2;
    transition: 0.7s;
    border: 1px solid #953214;
}

.coverFloweffect .swiper-wrapper {
    padding: 7rem 0px;
}























/* """"Media Queriy""""" */

/* @media (max-width: 1199px) { } */
@media (max-width: 1399px) {
    .play_buttons {
        left: 97px;
    }
}

@media (max-width: 1199px) {
    .home-main {
        display: none;
    }

    .main__sec_eight-cont {
        margin: 60px;
    }

    .sec__three-fist::before {
        content: "";
        height: 70%;
        width: 72%;
        border: 11px solid #03359c;
        position: absolute;
        transform: rotate(-8deg);
        right: 37px;
        top: 7px;
    }

    .sec_3-main-sec-2 img {
        width: 80%;
        height: 80%;
    }

    .sec_3-main-sec-2 {
        top: 16px;
    }

    .sec_3-main-sec-23 {
        height: 90px;
        width: 90px;
        transform: translate(-144px, -23px);
    }

    .play_buttons {
        left: 24%;
        bottom: 20px;
    }

    .ply-img::after {
        width: 50%;
        height: 50%;
    }

    .ply-img::before {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 991px) {
    .main-nav-add {
        margin-bottom: 12px;
    }

    .main-nav-btn {
        margin-bottom: 12px;
    }

    .play_buttons {
        left: 39.3%;
        bottom: 14.7%;
    }

    .sec__three-fist::before {

        height: 76%;
        width: 68%;
        right: 73px;
        top: 30px;
    }

    .sec_3-main-sec-23 {
        height: 120px;
        width: 120px;
        transform: translate(-208px, -70px);
    }

    .ply-img::after {
        width: 90%;
        height: 90%;
    }

    .ply-img::before {
        width: 80%;
        height: 80%;
    }

    .play_buttons {
        left: 29.3%;
        bottom: 11.7%;
    }

    .sec_3-main-sec-2 img {
        width: 110%;
        height: 110%;
    }

    .sec_3-main-sec-2 {
        transform: translate(58px, -47px);
    }

}

@media (max-width: 767px) {
    .play_buttons {
        left: 39.3%;
        bottom: 11.7%;
    }

    .sec_3-main-area {
        flex-wrap: wrap;
    }

    .section_footer_main-an {
        text-align: center;
    }

    li.breafkdf {
        justify-content: center;
    }

    .icon_footers-end {
        justify-content: center;
    }

    .sec-4-footer-areae {
        position: relative;
        left: 40%;
    }
    .sec__three-fist::before {
        height: 70%;
        width: 68%;
        right: 59px;
        top: 20px;
    }
	    .sec_3-main-sec-2 img {
        width: 90%;
        height: 90%;
    }
	    .sec_3-main-sec-2 {
        transform: translate(30px, -45px);
    }
	    .sec_3-main-sec-23 {
        height: 90px;
        width: 90px;
        transform: translate(-156px, -46px);
    }
	    .play_buttons {
        left: 29%;
        bottom: 8%;
    }
	    .ply-img::after {
        width: 70%;
        height: 70%;
    }
	    .ply-img::before {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 460px) {
    .play_buttons {
        left: 39.3%;
        bottom: 8.7%;
    }

    .sec-4-footer-areae {
        position: relative;
        left: 32%;
    }
    .sec__three-fist::before {
        height: 70%;
        width: 70%;
        right: 45px;
        top: 16px;
    }
	.sec_3-main-sec-23 {
        transform: translate(-147px, -33px);
    }
	    .play_buttons {
        left: 27%;
        bottom: 6.7%;
    }
}

@media (max-width: 420px) {
    .play_buttons {
        left: 39.3%;
        bottom: 8.7%;
    }
    .sec_3rd {
        flex-wrap: wrap;
    }
    .sec__three-fist::before {
        height: 70%;
        width: 70%;
        right: 45px;
        top: 16px;
    }
	.sec_3-main-sec-23 {
        transform: translate(-147px, -33px);
    }
	    .play_buttons {
        left: 27%;
        bottom: 6.7%;
    }
}


